.titlePlanetas{
    text-align: center;
    color: black;
}

.fondo {
    background: #217FA1;
}

.contCard2{
    width: 100%;
    max-width: 1200px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
}

.contCard2 .card2{
    width: 1100px;
    height: 3000px;
    border-radius: 8px;
    overflow: hidden;
    margin:20px;
    padding: 20px;
    text-align: justify;
    transition: all 0.25s;
    background-color: #fff;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.987);
}

.tabla {
    margin-left: 20%;
}

.indice {
    border: 2px solid lightblue;
    background-color: #CFE3EA;
    margin-right: 70%;
    padding: 10px;

}
