@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fredoka+One&family=Fugaz+One&family=Kanit:wght@500&family=Neuton&family=Open+Sans:wght@600;700&family=Raleway:wght@500&family=Righteous&family=Rubik:wght@500&family=Staatliches&display=swap');
 
*{
    margin: 0;
    padding: 0;
}
/*fuente para la pag*/

body{
    font-family: 'Raleway', sans-serif;
    background: url(./assets/cielo\ gris.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    
}

/*formato del header*/

header{
    height: 100vh;
    width: 100%;
    
}
/* check hacerlo desaparecer */

#check{
    display: none;
}

header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;

}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0,3);
}
/* formato de la navBar */label

.navBar ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.navMenu li:hover{
    background: rgba(0,0,0,0,3);
}
.navBar li a {
    display: block;
    padding: 15px 20px;
    color: #343a40;
    text-decoration: none;
}

nav{
    background-color: #ffff ;
    display: flex;

}

/*formato del logo de la navBar*/

.logoNav{
    height: 20vh;
    width: 100px;
}

/* formato footer */

.containFooter{
    background-color: #343a40;
    height: 90px;
}

/* logo footer */

.logoF{
    height: 50px;
    width: 50px;
    box-sizing: 0;
}

/* body{
    font-family:'Roboto', sans-serif;
} */

 


/* formato del login */

.login-box {
    opacity: .9;
    width: 320px;
    height: 400px;
    background-color: #023e8a;
    color: #fff;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    box-sizing: border-box;
    padding: 70px 30px; 
    border-radius: 10%;  
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px); 
    object-position: 50%;   
    background-color: #fff;
}
.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;  
      
}
.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
    
    
}
.login-box input[type= "text"],
.login-box input[type= "password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    

}

::placeholder {
    color: rgb(218, 216, 216);
    font-size: 1em;
}

.login-box input[type="submit"]{
    border: none;
    border-bottom: 1px solid #fff;
    background:rgb(30, 32, 39);
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: rgb(170, 165, 165);
}

.login-box a:hover{
    color: #fff

}



